.box-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 500px;
  border-radius: 0.2rem;
  position: fixed;
  right: 20%;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: all 0.5s linear;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  img,
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.overlay-open {
  transform: translateY(-50%) scale(1);
}
